<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsName) }}
                    {{ form_widget(listSearchForm.lsName) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsSurname) }}
                    {{ form_widget(listSearchForm.lsSurname) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsPesel) }}
                    {{ form_widget(listSearchForm.lsPesel) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsNip) }}
                    {{ form_widget(listSearchForm.lsNip) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsTelephoneNr) }}
                    {{ form_widget(listSearchForm.lsTelephoneNr) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsBadgeId) }}
                    {{ form_widget(listSearchForm.lsBadgeId) }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsCreatedDateFrom) }}
                    {{ form_widget(listSearchForm.lsCreatedDateFrom) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsCreatedDateTo) }}
                    {{ form_widget(listSearchForm.lsCreatedDateTo) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsDateOfPaymentFrom) }}
                    {{ form_widget(listSearchForm.lsDateOfPaymentFrom) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsDateOfPaymentTo) }}
                    {{ form_widget(listSearchForm.lsDateOfPaymentTo) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-text">
                    {{ form_label(listSearchForm.lsContractNumber) }}
                    {{ form_widget(listSearchForm.lsContractNumber) }}
                </div>
            </div>
        </div>
    </div>
</div>