<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.name) }}
                    {{ form_widget(listSearchForm.name) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.surname) }}
                    {{ form_widget(listSearchForm.surname) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.telephoneNr) }}
                    {{ form_widget(listSearchForm.telephoneNr) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.status) }}
                    {{ form_widget(listSearchForm.status) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.badgeId) }}
                    {{ form_widget(listSearchForm.badgeId) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.smsClientGroup) }}
                    {{ form_widget(listSearchForm.smsClientGroup) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.createdAt) }}
                    {{ form_widget(listSearchForm.createdAt) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-text">
                    {{ form_label(listSearchForm.sentAt) }}
                    {{ form_widget(listSearchForm.sentAt) }}
                </div>
            </div>
        </div>
    </div>
</div>